.wrap {
  background-color: #fcfcfc;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  flex: 1;
  justify-content: center;
  align-items: center;
  gap: 20px;
  user-select: none;
}
.opacity_text {
  animation: opacityAnim 1.5s infinite linear alternate;
}

@keyframes opacityAnim {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
